#home-page{
  background-image: url('abc/WhatsApp Image 2020-04-20 at 22.43.35.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 5px;
  }
/*p{
  color: rgb(205,92,92);
  font-weight: bold;
  font-family: inherit;    /*Tried flex-direction- No change was observed!!*/
  /*font-size: 1.5em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /*border: 10px solid white;*/
  /*background-color: rgba(255,255,255,0.5);
}
h2{
  font-family: "Amatic SC";
  color: white;
  font-size: 80px;
  text-align: center;
}
h4{
  font-family: "Amatic SC";
  color: white;
  font-size: 40px;
  text-align: center;
}
/*.home{
  font-family: "Amatic SC";
  color: white;
  font-size: 30px;
  text-align: center;
  border: 5px solid white;
}*/
.main{
  color: rgb(0, 0, 0);
  font-style: normal;
  font-size: 60px;
  text-align: center;
  font-family: "Amatic SC";
  padding: 15px 30px 25px 30px;
  margin: 150px 950px 150px 550px;
  /*border: 5px solid rgb(219, 138, 138);*/
  background-color: rgba(255,255,255,0.5);
}
a{
  font-family: "Amatic SC";
  font-size: 60px;
  }
.links{
  word-spacing: 50px;
  margin-top: 20px;
  margin-right: 220px;
}
#Contact{
  background-image: url('abc/adam-solomon-WHUDOzd5IYU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cd{
  font-size: 70px;
  font-family: "Amatic SC";
  color: black;
  padding: 25px 25px 35px 50px;
  margin: 90px 1450px 70px 75px;
  background-color: rgba(255, 255, 255, 0.65);
}
#about{
  background-image: url('abc/working-from-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main2{
  font-size: 70px;
  font-family: "Amatic SC";
  color: white;
  margin-top: 150px;
  margin-left: 80px;
}
